**/venv/*
**/.idea/*

**/ustawy/*
polimorfologik-2.1.txt
**/skipgram/*
**/drafts/*
**/initial/*
**/initial_ten_percent/*
**/initial_ten_lines/*
**/initial_one_line/*
**/amending/*
**/amending_ten_percent/*
**/amending_ten_lines/*
**/amending_one_line/*
**/task8/data/*
**/fastText-0.2.0/*

task1.csv
task2.csv
task3.txt
results.txt
output.md

*.pickle

plwordnet-4.0.xml